.map-container {
  .overlay-mean {
    fill: none;
    stroke: #444;
    stroke-dasharray: 5, 5;
  }

  .overlay-center {
    fill: #fff;
  }
}

.m-isoline {
  //opacity: 0.8;
  //fill: #FF6281;
  fill: transparent;
  stroke-opacity: 0.4;
  stroke-width: 3;

  &--car {
    //fill: #FF6281;
    stroke: #FF6281;
  }

  &--truck {
    //fill: #FAC25E;
    stroke: #FAC25E;
  }

  &--publicTransport {
    //fill: #FAC25E;
    stroke: #FAC25E;
  }

  &--pedestrian {
    //fill: #5E94FA;
    stroke: #5E94FA;
  }

  &--bike {
    //fill: #5E94FA;
    stroke: #5E94FA;
  }
}