.is-loading {
  .m-clusters__isoline {
    animation: load1 1s infinite ease-in-out;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    stroke-width: 6;
    height: 4em;
  }
  40% {
    stroke-width: 1;
  }
}


.m-clusters__isoline {
  cursor: pointer;
  &--plain {
    fill: transparent;
    stroke-width: 1;
    transition: .05s;

    &:hover {
      stroke-width: 5;
    }
  }

  &--car {
    stroke: $c-car;
  }

  &--publicTransport {
    stroke: $c-public-transport;
  }

  &--bike {
    stroke: $c-bike;
  }



  &--masked {
    fill-opacity: .3;
    stroke-width: 3;

    &.m-clusters__isoline {
      &--car {
        fill: $c-car;
        stroke: $c-car;
      }

      &--publicTransport {
        fill: $c-public-transport;
        stroke: $c-public-transport;
      }

      &--bike {
        fill: $c-bike;
        stroke: $c-bike;
      }
    }
  }
}