.m-locations-ui {
  margin-bottom: 10px;
  width: 100%;
  background: #fff;
  padding: 10px;
}

.m-locations-ui__location {
  display: inline-block;
  font-size: 12px;
  padding: 10px 12px;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
  background-color: $c-gray-primary;

  &.is-active {
    background-color: $c-accent-01;
  }
}