.m-slider {
  margin-top: 20px;
}

.m-slider__svg {
  overflow: visible !important;
}

.m-slider__group {
  .background {
    cursor: pointer !important;
  }

  .handle {
    cursor: pointer;
    fill: $c-primary;
  }
}

.m-slider__handle-text {
  text-anchor: middle;
  fill: #fff;
  font-size: 15px;
}

.m-slider__handle-deco-text {
  text-anchor: middle;
  fill: #fff;
  font-size: 10px;
}