.m-segmented-control {
}

.m-segmented-control__segment {
  display: inline-block;
  background-color: $c-gray-primary;
  color: white;
  border-right: 1px solid white;
  text-align: center;
  cursor: pointer;
  min-width: 41px;

  &.is-selected {
    background-color: $c-primary;

    &:hover {
      background-color: $c-primary;
    }
  }

  &:hover {
    background-color: darken($c-gray-primary, 10);
  }

  &:last-child {
    border-radius: 0 1px 1px 0;
    border-right: none;
  }

  &:first-child {
    border-radius: 1px 0 0 1px;
  }
}

.m-segmented-control__label {
  font-size: 12px;
  line-height: 36px;

  &.icon {
    font-size: 20px;
  }
}