.m-timeline {
}

.m-timeline__axis {
  .tick {

    text {
      font-size: 10px;
      text-anchor: end;
    }

    line {
      stroke: #eee;
      fill: none;
    }
  }

  .domain {
    fill: none;
    stroke: none;
  }
}

.m-timeline__lines {

}

.m-timeline__line {
  fill: none;
  stroke: #000000;
  stroke-width: 2;

  &--car {
    stroke: #FF6281;
  }

  &--truck {
    stroke: #FAC25E;
  }

  &--pedestrian {
    stroke: #5E94FA;
  }
}