.timeline {
  .axis {
    .tick {
      font-size: 12px;

      line {
        stroke: #eee;
        fill: none;
      }
    }

    .domain {
      fill: none;
      stroke: none;
    }
  }

  .dot {
    fill: #000000;
    opacity: .3;
    stroke: none;

    &.is-above-average {
      fill: #44ee99;
    }

    &.is-below-average {
      fill: #ff8899;
    }
  }

  .line {
    fill: none;
    stroke: #000000;

    &.mean {
      stroke: #888;
    }

    &.min {
      stroke: #ff8899;
    }

    &.max {
      stroke: #44ee99;
    }
  }
}