.m-timeline {
}

.m-timeline__axis {
  .tick {
    font-size: 12px;

    line {
      stroke: #eee;
      fill: none;
    }
  }

  .domain {
    fill: none;
    stroke: none;
  }
}

.m-timeline__lines {

}

.m-timeline__line {
  fill: none;
  stroke: #000000;
  stroke-width: 2;

  &--car {
    stroke: #FF6281;
  }

  &--truck {
    stroke: #FAC25E;
  }

  &--pedestrian {
    stroke: #5E94FA;
  }

  &.mean {
    stroke: #888;
  }

  &.min {
    stroke: #ff8899;
  }

  &.max {
    stroke: #44ee99;
  }
}