@import "base/reset";
@import "base/variables";
@import "base/base";

@import "common/btn";
@import "common/segmented-control";

@import "components/drawer";
@import "components/menu";
@import "components/view-settings";
@import "components/isolines";


.app-container {
  position: fixed;
  width: 100%;
  height: 100%;
}

.controller-view {
  width: 100%;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 100%;
}