$drawer-height: 250px;
$drawer-width: 40%;

$drawer-transition: all .3s;

$c-accent-01: #0480F7;

$c-gray-primary: #383838;
$c-gray-secondary: #999;
$c-gray-tertiary: #e0e0e0;
$c-gray-quaternary: #efefef;
$c-car: #FF6281; //#F9C25F; //#F04D70;
$c-public-transport: #FAC25E; // #FE7867; // #FAC76D; 
$c-bike: #5E94FA; //#CA61A8; // #6AD8DB;

$shadow-map-overlay: 0 0 10px rgba(0, 0, 0, 0.2);