.drawer {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: $drawer-width;
  transform: translate(-100%, 0);
  background-color: white;
  transition: $drawer-transition;
  overflow: scroll;

  &.is-open {
    transform: translate(0, 0);
  }
}