.view-settings {
  width: 280px;
  
  .settings-group {
    padding: 25px;
    border-bottom: 1px solid $c-gray-tertiary;

    .title {
      color: $c-primary;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: .2;
      margin-bottom: 10px;
    }
  }
}

.slider {
  padding: 10px;

  .bar {
    height: 1px;
  }

  .bar-0 {
    background-color: $c-gray-primary;
    border-radius: 1px;
  } 

  .bar-1 {
    background-color: $c-gray-primary;
    border-radius: 1px;
  }

  .handle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transform: translate(0%, -50%);
    background-color: $c-primary;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  }
}