.m-accordeon {
  background-color: white;
}

.m-accordeon__panel {
  border-bottom: 1px solid #f4f4f4;

  &:last-child {
    border-bottom: none;
  }

  &--is-expanded {
    .m-accordeon__panel-content {
      display: block;
    }
  }
}

.m-accordeon__panel-header {
  padding: 0 20px;
  line-height: 65px;
  cursor: pointer;
  user-select: none;
  color: $c-accent-01;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.m-accordeon__panel-content {
  display: none;
  border-top: 1px solid #f4f4f4;
}