.m-slider {
  &--timeline {
    margin-top: 40px;
  }
}

.m-slider__svg {
  overflow: visible !important;
}

.m-slider__group {
  .background {
    cursor: pointer !important;
  }

  .handle {
    cursor: pointer;
    fill: $c-gray-primary;
    stroke-width: 3;
    stroke: rgba(0, 0, 0, .05);

    &:hover {
      fill: darken($c-gray-primary, 5);
    }

    &:active {
      fill: darken($c-gray-primary, 10);
    }
  }
}

.m-slider__handle-text {
  text-anchor: middle;
  fill: $c-gray-primary;
  font-size: 15px;
}

.m-slider__handle-suffix {
  text-anchor: middle;
  fill: $c-gray-primary;
  font-size: 10px;
}

.m-slider__axis {
  .domain {
    fill: none;
  }

  .tick {
    text {
      font-size: 14px;
      fill: $c-gray-secondary;
      text-anchor: middle;
    }

    line {
      stroke: $c-gray-secondary;
    }

    .m-slider__axis-suffix {
      font-size: 9px;
      fill: $c-gray-secondary;
    }
  }
}