.m-tooltip {
  position: fixed;
  background-color: $c-gray-primary;
  color: #fff;
  padding: 15px;
  max-width: 250px;
  font-size: 12px;
  line-height: 18px;

  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    background-color: inherit;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
}