.m-ui-panel {
  position: fixed;
  width: 450px;
  top: 20px;
  left: 20px;
  bottom: 20px;
}

.m-ui-panel__group {
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
  border-radius: 2px;
  background-color: #fff;
}

.m-ui-panel__section {
  padding: 20px;
  position: relative;

  &--timelines {
    background-color: #f8f8f8;
    padding: 10px;
    padding-top: 140px;

    .m-ui-panel__section-header {
      position: absolute;
      left: 20px;
      right: 20px;
      top: 20px;
    }
  }

  &--collapsible {
    padding-top: 0;

    .m-ui-panel__section-title {
      cursor: pointer;
      padding: 20px 0;
      position: relative;
      margin-bottom: 0;

      &:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 8px;
        height: 8px;
        box-shadow: 1.8px 1.8px 0 0 $c-gray-secondary;
        transform: rotate(-135deg) translateY(-100%);
        right: 10px;
        top: 47%;
      }
    }

    &.is-expanded .m-ui-panel__section-title {
      &:after {
        transform: rotate(45deg) translateY(-100%);
      }
    }
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

.m-ui-panel__section-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .05em;
  margin-bottom: 10px;
}