.m-ui-panel {
  position: fixed;
  width: 450px;
  top: 20px;
  left: 20px;
}

.m-ui-panel__group {
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
  border-radius: 2px;
}

.m-ui-panel__section {
  padding: 20px;
  position: relative;

  &--timelines {
    background-color: #f8f8f8;
  }
}

.m-ui-panel__section-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .05em;
  margin-bottom: 20px;
}