$drawer-height: 250px;
$drawer-width: 40%;

$drawer-transition: all .3s;

$c-primary: #0480F7;

$c-gray-primary: #454545;
$c-gray-tertiary: #EFEFEF;
$c-car: #FF6281;
$c-public-transport: #FAC25E;
$c-bike: #5E94FA;

$shadow-map-overlay: 0 0 10px rgba(0, 0, 0, 0.2);